
# zapnutí přesměrování
RewriteEngine on

#RewriteRule test test.php
#
RewriteRule test/(.*)$ /test2/$1

#RewriteRule test bhg.php

RewriteRule checker checker/checker.php

RewriteRule    ^([^\.t]+)$    index.php?stranka=$1