
# zapnutí přesměrování
RewriteEngine on

#RewriteRule test test.php
#
RewriteRule sec/code/ sec/code.php

RedirectMatch ^/sec$ sec/index.php

#RewriteRule test bhg.php

RewriteRule checker checker/checker.php

RewriteRule    ^([^\./]+)$    index.php?stranka=$1